<div class="content">
    <div class="loginIcon">
        <img src="../../../../assets/img/icons/prometheus-loginicon.svg"> 
    </div>
    <div class="welcome">
        <p>
            Seja<br>Bem-Vindo
        </p>
    </div>
    <div class="user">
        <img src="../../../../assets/img/icons/student.svg">
        <img src="../../../../assets/img/icons/school.svg">
        <img src="../../../../assets/img/icons/school.svg">
        <img src="../../../../assets/img/icons/environment.svg">
    </div>
    <form class="inputs">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Senha">
    </form>

    <!-- <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
        </mat-form-field>
      </p> -->

    <div class=options>
        <div>
            <input type="checkbox">
        </div>
        <p class="rememberPassword">Lembrar senha</p>
        <div class="forgotPassword">
            <p>esqueci minha senha</p>
        </div>
    </div>
    <div class="buttonContent">
        <button class="button">
            Entrar
        </button>
    </div>
</div>