<div class="cards-content">
  <mat-card class="card-style card-with-shadow" routerLink="/tutor/tasks/types/quiz">
      <mat-card-header>
        <mat-card-title>Quiz</mat-card-title>
        <mat-card-subtitle>Perguntas e Respostas</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/cards/tasks_002.png" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="card-style card-with-shadow">
    <mat-card-header>
      <mat-card-title>Flash Card</mat-card-title>
      <mat-card-subtitle>Perguntas e Respostas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/cards/tasks_001.png" alt="Photo of a Shiba Inu">
  </mat-card>
</div>
