<div class="navbar-container">
  <div class="input-icons">
    <div class="icon-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="10.854" height="10.854" viewBox="0 0 10.854 10.854">
        <path id="prefix__União_75" d="M7.181 7.181a3.913 3.913 0 111.146-2.767 3.9 3.9 0 01-1.146 2.767L10.5 10.5z"
          data-name="União 75" style="fill:none;stroke:#000" />
      </svg>
    </div>
    <input class="input-field" type="text">
  </div>
  <div class="actions-container">
    <button class="btn-alert">
      <svg xmlns="http://www.w3.org/2000/svg" id="prefix__bell" width="20" height="21.996" viewBox="0 0 20 21.996">
        <defs>
          <style>
            .prefix__cls-1 {
              fill: none;
              stroke: #000;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 2px
            }
          </style>
        </defs>
        <path id="prefix__Caminho_447" d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9" class="prefix__cls-1"
          data-name="Caminho 447" transform="translate(-2 -1)" />
        <path id="prefix__Caminho_448" d="M13.73 21a2 2 0 01-3.46 0" class="prefix__cls-1" data-name="Caminho 448"
          transform="translate(-2 -1)" />
      </svg>
    </button>
    <button class="btn-perfil">
      <img class="img-container" width="50px" height="50px" src="https://imaginedragons03.webnode.pt/_files/200000014-55e7856e2c/450/vocalista.jpg" />
      <div class="information-container">
        <p>Daniel Renolds</p>
        <span>Professor</span>
      </div>
    </button>
  </div>
</div>