<div class="logo">
  <a href="/" class="simple-text">
    <div class="logo-img">
      PROMETHEUS
      <img/>
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul id="ulSideBar" class="nav">
    <li 
      id="{{menuItem.id}}"
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{menuItem.class}} nav-item"
      (click)="activeSideBar(menuItem.id)">
        <span class="tag"></span>
        <a class="nav-link" [routerLink]="[menuItem.path]">
          <i class="material-icons">{{menuItem.icon}}</i>
          <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
