/* Style guide - Caltech : Start */

/* Primary colors */
$caltech-primary-color-one: #713bdb;
$caltech-primary-color-two: #33d69f;
$caltech-primary-color-three: #ff8c56;

/* Secundary colors */
$caltech-secundary-color-one: #49b8ff;
$caltech-secundary-color-two: #fb4f7f;
$caltech-secundary-color-three: #fddd0e;
$caltech-secundary-color-four: #F88934;
$caltech-secundary-color-five: #cdbaf2;

/* Base colors */
$caltech-base-color-one: #373737;
$caltech-base-color-two: #646464;
$caltech-base-color-three: #9fa4b8;
$caltech-base-color-four: #cacaca;
$caltech-base-color-five: #f2f2f2;
$caltech-base-color-five: #f5f6fa;

/* Style guide - Caltech : End */