@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: montserrat, "Helvetica Neue", sans-serif !important;
  width: 101px;
  height: 29px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.21;
  letter-spacing: 0.72px;
  text-align: left;
  color: #979797;
}


